.hide {
  display: none;
}

/* for Tab section */
@media screen and (min-width: 740px) and (max-width: 830px) {
  .nav-container {
    flex-direction: column;
    padding: 30px 0px;
  }

  .nav-item {
    width: 100%;
    padding-top: 50px;
    /* flex-direction: column; */
  }

  .nav-item a {
    margin-top: 40px;
  }
  .nav-item a:hover {
    background-color: beige;
  }
  .nav-item .login-btn {
    margin-bottom: 10px;
    background-color: bisque;
  }

  /* banner section responsive */
  .banner {
    background-position: bottom;
  }
  .banner-container {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .banner-contant h1 {
    font-size: 50px;
    margin-top: 30px;
    font-weight: 800;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #9e1569 0%, #503986 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
  .banner-contant h2 {
    margin-bottom: 30px;
  }
  .banner-contant p {
    margin-bottom: 20px;
  }
  .icon {
    margin-bottom: 30px;
  }
  .banner-contant,
  .banner-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-img {
    padding-bottom: 130px;
  }
  .banner-contant {
    text-align: center;
  }
  .banner-contant p {
    padding-top: 20px;
    max-width: 360px;
    text-align: left;
    margin: auto;
  }
  /* online section responsive */
  .online-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 18px;
    margin-top: 40px;
    margin-bottom: 48px;
  }
  .online-tital h1 {
    width: 655px;
    margin: auto;
  }
  .online-discriptin {
    font-size: 20px;
  }
  .card-text p {
    width: 340px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    margin-top: 0px;
  }

  /* play  instantly responsive*/
  .play-instantly {
    flex-direction: column;
    padding: 30px;
  }
  .play-container-tital {
    text-align: center;
    font-size: 58px;
    line-height: 80px;
    max-width: 100%;
  }
  .online-tital {
    background: linear-gradient(180deg, #50464c 0%, #231055 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
  }
  .play-container-discription {
    text-align: center;
    font-size: 22px;
    max-width: 700px;
  }
  .play-img {
    max-width: 90%;
    margin-top: 30px;
  }
  .play-img img {
    width: 100%;
  }
  .ten-years-badge img {
    width: 60%;
  }
  .ten-years-badge {
    transform: translateX(-50px);
  }

  /* game responsive */
  .game-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 12px;
  }

  .button {
    background: #fff;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .button:hover {
    border: 5px solid #ff42a5;
  }

  .button img {
    width: 50px;
    height: 50px;
  }

  .button span {
    margin-top: 15px;
    font-size: 16px;
  }

  /* footer responsive */
  .footer-container {
    padding: 100px 20px;
    height: 679px;
  }
  .footer-contant {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .footer-name,
  .footer-service {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-service {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .icons {
    font-size: 40px;
    color: #FFFFFF;
    cursor: pointer;
  }
}

/* for large mobile */
@media screen and (min-width: 576px) and (max-width: 740px) {
  .nav-container {
    flex-direction: column;
    padding: 30px 0px;
  }

  .nav-item {
    width: 100%;
    padding-top: 40px;
    /* flex-direction: column; */
  }

  .nav-item a {
    margin-top: 20px;
  }

  .nav-item .login-btn {
    margin-bottom: 10px;
  }

  /* banner section responsive */

  .banner-container {
    flex-direction: column-reverse;
    padding: 30px;
  }
  .banner {
    background-position: bottom;
  }
  .banner-contant,
  .banner-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-text h1 {
    font-size: 30px;
  }

  .banner-img {
    padding-bottom: 130px;
  }
  .banner-contant {
    text-align: center;
  }
  .banner-contant h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .banner-contant h2 {
    margin-bottom: 30px;
  }
  .banner-contant p {
    margin-bottom: 20px;
  }
  .icon {
    margin-bottom: 30px;
  }
  .banner-button {
    padding: 15px 24px;
    margin-right: 15px;
    font-size: 15px;
  }
  .btn1 {
    border-radius: 30px;
  }
  .btn2 {
    border-radius: 30px;
  }

  /* online section responsive */
  .online-card-container {
    flex-direction: column;
    gap: 24px;
    padding: 18px;
    margin-top: 40px;
    margin-bottom: 48px;
  }
  .online-tital {
    color: #0b0223;
    font-size: 36px;
    font-weight: 700;
  }
  .online-discriptin {
    font-size: 20px;
  }
  .card-text p {
    width: 350px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
  }
  .card-img {
    width: 380px;
    height: 400px;
    margin: auto;
    cursor: pointer;
  }

  /* play  instantly responsive*/
  .play-instantly {
    flex-direction: column;
    padding: 30px;
  }
  .play-container-tital {
    text-align: center;
    max-width: 700px;
  }
  .play-container-discription {
    text-align: center;
    max-width: 700px;
  }
  .play-img {
    max-width: 80%;
    margin-top: 30px;
  }
  .play-img img {
    width: 100%;
  }
  .ten-years-badge img {
    width: 50%;
  }
  .ten-years-badge {
    transform: translateX(-50px);
  }

  /* game responsive */
  .game-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
  }

  .button {
    background: #fff;
    border-radius: 20px;
    display: flex;
    padding: 15px;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .button:hover {
    border: 3px solid #ff42a5;
  }

  .button img {
    width: 40px;
    height: 40px;
  }

  .button span {
    margin-top: 10px;
    font-size: 14px;
  }

  /* footer responsive */
  .footer-container {
    padding: 100px 20px;
    height: 679px;
  }
  .footer-contant {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
  }
  .footer-name,
  .footer-service {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-service {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-icon {
    display: grid;
    font-size: 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

/* for mobile section */
@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    padding: 30px 0px;
  }

  .nav-item {
    width: 100%;
    flex-direction: column;
  }

  .nav-item a {
    margin-top: 20px;
  }

  .nav-item .login-btn {
    margin-bottom: 10px;
  }

  /* banner section responsive */

  .banner-container {
    flex-direction: column-reverse;
    padding: 30px;
  }

  .banner-contant,
  .banner-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-text h1 {
    font-size: 30px;
  }
  .banner{
    background-position: top;
   background-color: #FFF;
  }
  .banner-contant {
    text-align: center;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .banner-img {
    padding-bottom: 130px;
  }

  .banner-contant h1 {
    font-size: 40px;
  }
  .banner-contant h2 {
    font-size: 75px;
  }
  .banner-contant p {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    max-width: 360px;
    text-align: left;
    margin: auto;
  }
  .banner-button {
    padding: 15px 24px;
    margin-right: 15px;
    font-size: 15px;
  }
  .btn1 {
    border-radius: 30px;
  }
  .btn2 {
    border-radius: 30px;
  }

  /* online section responsive */
  .online-card-container {
    flex-direction: column;
    gap: 24px;
    padding: 18px;
    margin-top: 40px;
    margin-bottom: 48px;
  }
  .online-tital {
    color: #0b0223;
    font-size: 26px;
    font-weight: 700;
  }
  .online-discriptin {
    font-size: 12px;
  }
  .card-text p {
    width: 340px;
    margin: auto;
    text-align: center;
    font-size: 11px;
    margin-top: 0px;
  }
  .card-text {
    padding-top: 10px;
  }

  /* play  instantly responsive*/
  .play-instantly {
    flex-direction: column;
    padding: 20px;
  }
  .play-container-tital {
    text-align: center;
    font-size: 35px;
  }
  .play-container-discription {
    text-align: center;
  }
  .play-img {
    max-width: 70%;
    margin-top: 30px;
  }
  .play-img img {
    width: 100%;
  }
  .ten-years-badge img {
    width: 40%;
  }
  .ten-years-badge {
    transform: translateX(-50px);
  }

  /* game responsive */

  .game-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
  }

  .button {
    background: #fff;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
    text-align: center;
  }

  .button:hover {
    border: 2px solid #ff42a5;
  }

  .button img {
    width: 30px;
    height: 30px;
  }

  .button span {
    margin-top: 5px;
    font-size: 10px;
  }

  /* footer responsive */
  .footer-container {
    padding: 100px 30px;
    height: 679px;
  }
  .footer-contant {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
  }
  .footer-name,
  .footer-service {
    display: grid;
    gap: 40px;
    width: 205;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-service {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .footer-name,
  .footer-service p {
    font-size: 14px;
    font-weight: 600;
  }
  .icons {
    font-size: 25px;
  }
  .copy-right {
    max-width: 258px;
    padding-top: 24px;
    font-size: 14px;
    margin: auto;
  }
}
