.hide {
  display: none;
}

/* for Tab section */
@media screen and (max-width: 820px) {
  .nav-container {
    flex-direction: column;
    padding: 30px 0px;
  }

  .nav-item {
    width: 100%;
    flex-direction: column;
  }

  .nav-item a {
    margin-top: 40px;
  }

  .nav-item .login-btn {
    margin-bottom: 10px;
  }

  /* banner section responsive */
  .banner-container {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .banner-contant,
  .banner-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-img {
    padding-bottom: 130px;
  }
  .banner-contant {
    text-align: center;
  }
  .banner-contant p {
    color: cadetblue;
  }
  /* online section responsive */
  .online-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 48px;
  }
  .card-text {
    margin-top: 0px;
  }

  /* play  instantly responsive*/
  .play-instantly {
    flex-direction: column;
    padding: 30px;
  }
  .play-container-tital {
    text-align: center;
    max-width: 700px;
  }
  .play-container-discription {
    text-align: center;
    max-width: 700px;
  }
  .play-img {
    max-width: 80%;
    margin-top: 30px;
  }
  .play-img img {
    width: 100%;
  }
  .ten-years-badge img {
    width: 50%;
  }
  .ten-years-badge {
    transform: translateX(-50px);
  }
}

/* for mobile section */
@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    padding: 30px 0px;
  }

  .nav-item {
    width: 100%;
    flex-direction: column;
  }

  .nav-item a {
    margin-top: 20px;
  }

  .nav-item .login-btn {
    margin-bottom: 10px;
  }

  /* banner section responsive */

  .banner-container {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .banner-contant,
  .banner-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-text h1 {
    font-size: 30px;
  }
  .banner-text p {
    font-size: 25px;
  }
  .banner-img {
    padding-bottom: 130px;
  }
  .banner-contant {
    text-align: center;
  }
  .banner-button {
    padding: 15px 24px;
    margin-right: 15px;
    font-size: 15px;
  }
  .btn1 {
    border-radius: 30px;
  }
  .btn2 {
    border-radius: 30px;
  }

  /* online section responsive */
  .online-card-container {
    flex-direction: column;
    gap: 24px;
    padding: 18px;
    margin-top: 40px;
    margin-bottom: 48px;
  }
  .online-tital {
    color: #0b0223;
    font-size: 28px;
    font-weight: 700;
  }
  .online-discriptin {
    font-size: 12px;
  }
  .card-text {
    font-size: 12px;
    margin-top: 0px;
  }

  /* play  instantly responsive*/
  .play-instantly {
    flex-direction: column;
    padding: 20px;
  }
  .play-container-tital {
    text-align: center;
  }
  .play-container-discription {
    text-align: center;
  }
  .play-img {
    max-width: 70%;
    margin-top: 30px;
  }
  .play-img img {
    width: 100%;
  }
  .ten-years-badge img {
    width: 40%;
  }
  .ten-years-badge {
    transform: translateX(-50px);
  }

  /*  */
  .game-contant{
    margin: 50px auto 0;
    padding: 10px;
    grid-template-columns: repeat(3,1fr);
}
}
