* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: "Cedarville Cursive", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Josefin Slab", serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
}
section {
  margin-bottom: 120px;
}
/* navigation section style start */
header {
  margin-bottom: 120px;
}
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  min-height: 100px;
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.nav-contant {
  display: flex;
  width: 50%;
}

.nav-contant img {
  margin-right: 20px;
}
.nav-img {
  width: 80px;
}
.nav-contant h1 {
  color: #0b0223;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hive-section {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.nav-item .login-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 16px 22px;
  font-weight: 700;
  text-align: center;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.fa-youtube {
  width: 33px;
  color: #f61c0d;
}
.fa-tiktok {
  width: 24px;
  color: #f00044;
}
/* navigation section style end */

/* banner section style start */

.banner-container {
  margin: 0 auto 0;
  max-width: 1300px;
  min-height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
}
.banner{
  background-image: url("images/Group\ 14.png");
  background-position: left;
  background-repeat: no-repeat;
}
.banner-contant {
  padding: 10px;
  width: 50%;
}
.banner-img {
  padding: 20px;
  width: 50%;
}
.banner-img img {
  width: 100%;
  /* height: auto; */
  border-radius: 10px;
  object-fit: cover;
}

.banner-contant h1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-contant h2 {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.banner-contant p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: lowercase;
}
.fa-circle-play,
.fa-down-long,
.fa-people-arrows {
  display: grid;
  /* gap: 10px; */
  padding-right: 10px;
}
.icon {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto 40px;
}

.banner-button {
  margin-top: 40px;
  padding: 21px 40px;
  margin-right: 20px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn1 {
  border-radius: 48px;
  background-color: #ff42a5;
}
.btn2 {
  border-radius: 48px;
  background: #4ec5f7;
}

/* banner section style end */

/* main section style start*/

/* Online Games section style start */

.online-tital,
.online-discriptin {
  text-align: center;
}
.online-tital {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-discriptin {
  margin-top: 16px;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.online-card-container {
  margin: 50px auto 0;
  max-width: 1300px;
  display: flex;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 48px;
}
.online-card {
  /* width: 342px;
  margin: auto; */
  border: none;
}
.card-text p{
  color: #534C64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.card-img {
  width: 300px;
  height: 350px;
  margin: auto;
  cursor: pointer;
}
.img-1,
.img-2,
.img-3,
.img-4 {
  background-image: url("images/Rectangle\ 4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-2 {
  background-image: url("images/Rectangle\ 5.png");
}
.img-3 {
  background-image: url("images/Rectangle\ 7.png");
}
.img-4 {
  background-image: url("images/Rectangle\ 6.png");
}
.card-text {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 24px;
}

.img-1:hover {
  border: 5px solid #f948b2;
  border-radius: 16px;
  border-radius: 16px;
  border-radius: 46px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url('images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
}
.img-2:hover {
  border: 5px solid #f948b2;
  border-radius: 16px;
  border-radius: 16px;
  border-radius: 46px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url('images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
}
.img-3:hover {
  border: 5px solid #f948b2;
  border-radius: 16px;
  border-radius: 16px;
  border-radius: 46px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url('images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
}
.img-4:hover {
  border: 5px solid #f948b2;
  border-radius: 16px;
  border-radius: 16px;
  border-radius: 46px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url('images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
}


.parent {
  width: 300px;
  height: 3500px;
  position: relative;
}

.child {
  width: 200px;
  height: 200px;
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.child h1{
  text-align: center;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.child .fa-circle-play {
  padding-left: 70px;
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  width: 68px;
  height: 68px;
  color: #FFFFFF;
}

.parent:hover .child {
  display: block;
}
/* Online Games section style end */

/* play-instantly section style start */

.play-instantly {
  margin: 50px auto 0;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-img {
  max-width: 50%;
}

.play-img img {
  width: 100%;
}
.ten-years-badge img {
  width: 80%;
}
.ten-years-badge {
  transform: translateX(-80px);
  border-radius: 8px;
  color: #fff;
  width: 340px;
  position: relative;
  bottom: 100px;
}
.play-container-tital {
  max-width: 350px;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  text-align: right;
}
.instantly {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-container-discription {
  max-width: 353px;
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  line-height: 30px;
}

.parent {
    width: 342px;
    height: 400px;
    position: relative;
  }
  
  .child {
    width: 200px;
    height: 200px;
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .child h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }
  .child .fa-circle-play {
    padding-left: 70px;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    width: 68px;
    height: 68px;
    color: #FFFFFF;
  }
  
  .parent:hover .child {
    display: block;
  }
/* play-instantly section style end */

/* game container section style start */
.game-container {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.game-contant {
  margin: 50px auto 0;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  display: grid;
  padding: 120px 0px;
  gap: 33px;
  grid-template-columns: repeat(5, 1fr);
}
/* .btn {
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 248px;
  height: 80px;
  margin: auto;
  padding: 28px 20px 28px 0px;
  border-radius: 50px;
  background: #fff;
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.btn-img {
  padding-left: 15px;
} */
.button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 240px;
  padding: 28px 20px 28px 0px;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.button:hover {
  border: 1px solid #ff42a5;
  color: #ff42a5;
}
.buttonIcon {
  padding-left: 15px;
  width: 60px;
}
.buttonText {
  max-width: 542px;
  justify-self: center;
}
/* game container section style end  */
/* main section style end*/

/* footer section style start */

.footer {
  color: #fff;
  background-color: #0b0223;
}
.footer-container {
  display: grid;
  align-items: center;
  text-align: center;
  max-width: 820px;
  margin: auto;
  height: 579px;
  padding: 100px 0px;
}
.footer-contant {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 56px;
}
.footer-contant h1 {
  font-size: 45px;
  font-weight: 700;
}
.footer-name,
.footer-service {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  text-align: center;
}
.footer-icon {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  gap: 60px;
}
.icons {
  font-size: 57px;
  cursor: pointer;
}
.footer-name,
.footer-service p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.footer-service p {
  color: rgba(255, 255, 255, 0.6);
}
.copy-right {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 18px;
  font-size: 16px;
  font-weight: 500;
}

/* footer section style end */
